.row1 {
    padding: 5px;
}

.logo {
    display: inline-block;
    height: 18px;
    margin-bottom: 3px;
}

.background-black {
    background-color: black;
    color: white;
    padding: 5px 0;
}

.xbox {
    background: url(../img/xbox.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 440px;
}

.spacer {
    margin-left: 30px;
}

.bottom {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.row4, .row6 {
    margin-top: 40px;
}

img {
    width: 100%
}

.row5 {
    background: url(../img/laptop.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 440px;
    margin-top: 50px;
}

.row7 {
    background: url(../img/faces.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 440px;
    margin-top: 50px;
}

.row9 a, .row10 {
    font-size: 0.5em;
}